.acquaintance {
    display: flex; 
	flex-direction: row;
	background-color: $color-light-violet;
	justify-content: space-between;

    @media screen and (max-width: 1100px) {
        flex-direction: column;
        & > div {
            width: 100%;
            max-width: 100%;
        }
    }

    &-left {
        color: $color;
        width: 50%;
	    max-width: 613px;
        margin-right: 40px;

        @media screen and (max-width: 1600px) {
            // min-width: 545px;
            padding-top: 28px;
        }
        @media screen and (max-width: 1100px) {
            margin-bottom: 80px;
            min-width: 45%;
        }
        @media screen and (max-width: 768px) {
            padding-top: 0;
        }

        h2 {
            color: $color;
        }

        p {
            font-size: 16px;
            line-height: 19.2px;

            &:not(:last-child) {
               margin-bottom: 20px; 
            }
        }
    }

    &-right {
        max-width: 50%;
        display: flex;

        @media screen and (max-width: 1600px) {
            align-items: center;
        }

        img {
            width: auto;
            max-height: 542px;

            @media screen and (max-width: 1600px) {
                max-height: 490px;
            }

            @media screen and (max-width: 768px) {
                height: 100%;
                width: 100%;
                max-height: inherit;
            }
        }
    }
}