.acquaintance {
    display: flex; 
	flex-direction: row;
	background-color: $color-light-violet;
	justify-content: space-between;

    &-left {
        color: $color;
	    width: 613px;
        margin-right: 40px;

        @media screen and (max-width: 1600px) {
            min-width: 545px;
            padding-top: 28px;
        }

        h2 {
            color: $color;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
            font-weight: 400;
        }
    }

    &-right {
        // text-transform: uppercase;
        // color: $color-violet;
        // margin-top: -30px;

        img {
           width: auto; 
        }
    }

    // &-magic {
    //     font-size: 141px;
    //     margin-bottom: 70px;
    // }

    // &-technology {
    //     font-size: 53px;
    // }
}