.feedback {
    background-color: $color-light-violet;
    color: $color-light;

    h2 {
        color: $color;
    }

    &-wrap {
        display: flex;
        flex-direction: column;
    }
    &__inputs{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        > :first-child {
            margin-right: 20px;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column; 
        }
        &-col{
            display: flex;
            flex-direction: column;
            width: 50%;   
    
            @media screen and (max-width: 768px) {
                width: 100%;   
            }
        }
    }

    &__text {
        margin-bottom: 40px;
    }

    &__agreement {
        display: flex;
        flex-direction: row;
        width: 58%;
        margin-bottom: 40px;
        @media screen and (max-width: 768px) {  
            width: 100%;
        }

        &-text {
            margin-left: 30px;
            p {
                color: $color-light;  
                font-size: 14px;
            }
        }
    }
}