.footer {
   background-color: $color-violet;
   padding: 60px 200px;
   color: $color;

   @media screen and (max-width: 1600px) {
        padding: 60px 250px;
    }

   @media screen and (max-width: 1450px) {
        padding: 60px 120px;
    }

    @media screen and (max-width: 1100px) {
        padding: 60px 40px;
    }

    @media screen and (max-width: 480px) {
		padding: 60px 24px;
	} 

   a {
      color: $color;
      
      &:hover {
		color: $color-brightly-violet;
	}
   }

   &__wrap {
      display: flex;
      flex-direction: column;
   }

   &__menu {
        margin-bottom: 80px;

        @media screen and (max-width: 480px) {
            margin-bottom: 60px;
        }
        
        &-list {
            list-style: none;
            display: inline;
            @media screen and (max-width: 768px) {  
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            @media screen and (max-width: 635px) {
                :nth-child( -n + 2 ) {
                    margin-bottom: 20px;
                }
            }

            @media screen and (max-width: 480px) {
                flex-direction: column;

                :not(:last-child) {
                    margin-bottom: 40px;
                }
            }
            
        }

        &-item{
            display: inline;
            padding-right: 40px;  

            @media screen and (max-width: 635px) {
                width: 50%;
            }

            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &-contact {
            line-height: 24px;
            & > div {
                display: flex;
            }

            @media screen and (max-width: 1100px) {
                width: 50%;
            }

            @media screen and (max-width: 480px) {
                width: 100%;
            }

            &--address {
                align-items: start;
                margin-bottom: 40px;
                svg {
                    margin-right: 12px;
                }
            }

            &--phone {
                align-items: center;
                font-weight: 700;

                @media screen and (max-width: 1100px) {
                    margin-bottom: 20px;
                }

                svg {
                    margin-right: 8px;
                }
            }
        }

        &-right {
            @media screen and (max-width: 1100px) {
                margin-top: 20px;
                width: 100%;
            }

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
        }

        &-policy{
            line-height: 24px;
            a {
                display: block;
                text-decoration: underline;
                margin-bottom: 20px;
                font-weight: 300;

                &:hover {
                    color: $color-brightly-violet;
                }
            }
        }

        &-cop {
            text-transform: uppercase;
        }

        &-soc {
            margin-bottom: 20px;
            a:not(:last-child) {
                margin-right: 20px;
            }

            svg {
                
                path {
                    -webkit-transition: 0.2s;
                    -moz-transition: 0.2s;
                    transition: 0.2s;
                }

                &:hover {
                    path {   
                       fill: $color-grey; 
                    }
                }
            }
        }
    }
}