.footer {
   background-color: $color-violet;
   padding: 60px 200px;
   color: $color;

   @media screen and (max-width: 1600px) {
        padding: 60px 250px;
    }

   @media screen and (max-width: 1450px) {
        padding: 60px 120px;
    }

    @media screen and (max-width: 1100px) {
        padding: 60px 40px;
    }

   a {
      color: $color;
   }

   &__wrap {
      display: flex;
      flex-direction: column;
   }

   &__menu {
        margin-bottom: 80px;
        
        &-list {
            list-style: none;
            display: inline;
            @media screen and (max-width: 768px) {  
                display: flex;
                justify-content: space-between;
            }
        }

        &-item{
            display: inline;
            padding-right: 40px;  
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &-contact {
            line-height: 24px;
            & > div {
                display: flex;
            }

            @media screen and (max-width: 1100px) {
                width: 50%;
            }

            &--address {
                align-items: start;
                margin-bottom: 40px;
                svg {
                    margin-right: 12px;
                }
            }

            &--phone {
                align-items: center;
                font-weight: 700;

                @media screen and (max-width: 1100px) {
                    margin-bottom: 20px;
                }

                svg {
                    margin-right: 8px;
                }
            }
        }

        &-right {
            @media screen and (max-width: 1100px) {
                margin-top: 20px;
                width: 100%;
            }

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
        }

        &-policy{
            line-height: 24px;
            a {
                display: block;
                text-decoration: underline;
                margin-bottom: 20px;
                font-weight: 300;
            }
        }

        &-cop {
            text-transform: uppercase;
        }

        &-soc {
            margin-bottom: 20px;
            a:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}