@import "variables";

* {
	box-sizing: border-box;
}

*, html, body {
    margin: 0;
    padding: 0;
}

::placeholder {
	color: $color-light;
	font-size: 16px;
	font-weight: 400;
	-webkit-transition: 0.2s;
    -moz-transition: 0.2s;
	transition: 0.2s;
}

::-webkit-scrollbar {
	background-color: $color-violet;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: $color-brightly-violet;
}

body {
	font-family: Montserrat, sans-serif;
	letter-spacing: calc(1em / 50);
	color: $color-black-violet;
	width: 100%;
}
input, textarea {
	font-family: inherit;
	line-height: 18px;
}

a{
	text-decoration: none;
	color: $color-black-violet;
	-webkit-transition: 0.2s;
    -moz-transition: 0.2s;
	transition: 0.2s;

	&:hover {
		color: $color-brightly-violet;
	}
}

.loader {
	&__btn {
		display: none;
		border-radius: 100%;
		border: 1px solid $color-light-violet;
		background-color: $color-light-violet;
		width: 4px;
		height: 4px;

		&:not(:last-child) {
			margin-right: 12px;
		}

		&:nth-child(1) {
			animation: preloader .6s ease-in-out alternate infinite;
		}

		&:nth-child(2) {
			animation: preloader .6s ease-in-out alternate .2s infinite;
		}

		&:nth-child(3) {
			animation: preloader .6s ease-in-out alternate .4s infinite;
		}

		@keyframes preloader {
			100% { transform: scale(1.5); }
		}
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 30px;
	font-weight: 400;
	border: 1.5px solid $color-light-violet;
	min-width: 180px;
	cursor: pointer;
	-webkit-transition: 0.2s;
    -moz-transition: 0.2s;
	transition: 0.2s;
	text-align: center;
	min-height: 59px;

	@media screen and (max-width: 1600px) {
		min-width: 176px;
	}

	.loader__btn {
		background-color: $color-grey;
		border-color: $color-grey;
	} 

	&.loading {
		pointer-events: none;
		border-color: $color-grey;
		outline: none;
		box-shadow: none;
	}

	&--violet{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		min-width: 200px;
		min-height: 72px;
		@include btnColor($color, $color-brightly-violet, $color-brightly-violet);
		box-shadow: 0px 7px 30px 0px $shadow;
		padding: 20px 55px;
		line-height: 30px;
	
		&:hover {
			box-shadow: 0px 7px 30px 0px $color-brightly-violet;
		}
	
		&:focus {
			outline: 1px solid $color-brightly-violet;
			outline-offset: 6px;
			border-radius: 3px;
			-webkit-transition: 0.1s;
        	-moz-transition: 0.1s;
			transition: 0.1s;
		}
	
		&:disabled {
			@include btnColor($color-light-violet, $color-grey, $color-grey);
			pointer-events: none;
		}

		.loader__btn {
			background-color: $color-light-violet;
			border-color: $color-light-violet;
		}

		&.loading {
			pointer-events: none;
			border-color: $color-grey;
			background-color: $color-grey;
			outline: none;
			box-shadow: none;
		}
	}

	&--white{
		&:hover, :active {
			@include btnColor($color-brightly-violet, inherit, $color-brightly-violet);
		}
	
		&:focus {
			outline: 1px solid $color-brightly-violet;
			outline-offset: 6px;
			border-radius: 3px;
			-webkit-transition: 0.1s;
        	-moz-transition: 0.1s;
			transition: 0.1s;
		}
	
		&:disabled {
			@include btnColor($color-light-violet, $color-grey, $color-grey);
			pointer-events: none;
		}
	}
}

.container {
	padding: 120px 200px;
	background-color: $color-light;

	@media screen and (max-width: 1600px) {
		padding: 120px 250px;
	}

	@media screen and (max-width: 1450px) {
		padding: 80px 120px;
	}

	@media screen and (max-width: 1100px) {
		padding: 80px 40px;
	}

	@media screen and (max-width: 480px) {
		padding: 80px 24px;
	} 
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover
}
h1, .h1 {
	@include text(80px, 300, 40px);
	color: $color-black-violet;
	line-height: 96px;
	text-transform: uppercase;

	@media screen and (max-width: 1600px) {
		font-size: 60px;
		line-height: 72px;
	}

	@media screen and (max-width: 550px) {
		font-size: 50px;
	}
	@media screen and (max-width: 480px) {
		font-size: 40px;
		line-height: 48px;
	} 
	@media screen and (max-width: 360px) {
		font-size: 35px;
	}
}

h2, .h2 {
	@include text(60px, 300, 80px);
	text-transform: uppercase;
	color: $color-black-violet;
	line-height: 72px;

	@media screen and (max-width: 1600px) {
		font-size: 40px;
		line-height: 48px;
	}

	@media screen and (max-width: 1100px) {
		margin-bottom: 60px;
	}

	@media screen and (max-width: 480px) {
		font-size: 30px;
		line-height: 36px;
	} 
	@media screen and (max-width: 360px) {
		font-size: 25px;
	}
}

h3, .h3 {
	@include text(40px, 600, 40px);
	line-height: 48px;

	@media screen and (max-width: 1600px) {
		font-size: 30px;
		line-height: 36px;
	}

	@media screen and (max-width: 480px) {
		font-size: 24px;
		line-height: 28.8x;
	} 
}

h4, .h4 {
	@include text(20px, 400, 40px);

	@media screen and (max-width: 1600px) {
		@include text(18px, 400, 40px);
	}
}
p {
	@include text(20px, 400, 0);

	@media screen and (max-width: 1600px) {
		@include text(18px, 400, 0);
	}
}

h5, .h5 {
	@include text(16px, 400, 20px);
}

.link {
	&--violet {
		font-size: 14px;
		color: $color-brightly-violet;
		text-decoration: underline;
		-webkit-transition: 0.2s;
        -moz-transition: 0.2s;
		transition: 0.2s;

			&:hover {
				text-decoration: none;
			}
	}
}

@import "header";
@import "main-banner";
@import "maximum";
@import "acquaintance";
@import "development-tools";
@import "faq";
@import "slider";
@import "contacts";
@import "feedback";
@import "footer";
@import "modal";
@import "form";