.maximum {
    h2 {
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 80px;
        text-transform: uppercase;
        color: $color-black-violet;
    }

    &__advantages {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;

        &-item {
            width: 365px;
            display: flex;
            flex-direction: column;
            padding: 40px 20px;
            border: 1px solid $color-grey;
            margin-right: 20px;

            img {
                width: 84px;
                height: 84px;
                margin-bottom: 40px;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        &-title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 40px;
        }
    }
}