.maximum {
    &__advantages {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &-item {
            width: 365px;
            // min-width: 365px;
            display: flex;
            flex-direction: column;
            padding: 40px 20px;
            border: 1px solid $color-grey;
            margin-right: 20px;
            word-break: break-word;

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-right: 0;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            
            &:last-child {
                margin-right: 0;
            }

            &--head {
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;

                @media screen and (max-width: 768px) {
                    flex-direction: row;
                    align-items: center;
                }

                img {
                    width: 84px;
                    height: 84px;

                    @media screen and (max-width: 768px) {
                        margin-right: 40px;
                    }
                    @media screen and (min-width: 768px) {
                        margin-bottom: 40px;
                    }
                }
            }

            &-title{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 40px;
                line-height: 21.6px;

                @media screen and (max-width: 1600px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 0;
                }
            }

            & span {
                line-height: 20.8px;
            }
        } 
    }
}