.slider {
    background-color: $color-light-violet;

    h2{
        color: $color;
    }
}
.swiper {
    overflow: hidden;
    position: relative;

    &-slide {
        position: relative;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: $color-black-violet;
        max-width: 750px;
        width: 50%;
        height: auto;
        max-height: 576px;

        img {
            object-fit: cover;
        }

        @media screen and (max-width: 1600px)
        {
            max-height: 394px;
        }
        
        @media screen and (max-width: 768px)
        {
            max-width: 100%;
            width: 100%;
        }

        @media screen and (max-width: 480px)
        {
            max-height: 256px;
        }
    }

    &-wrapper {
        height: auto;
    }

    &-pagination {
        position: static;
        transform: none !important;
        margin: 30px auto 0 auto;
        width: 100% !important;
        display: flex;
        justify-content: center;
        &-bullet {
            width: 67px;
            height: 6px;
            border-radius: 3px;
            background: $color-grey;
            opacity: 0;
            // display: none;

            &-active {
                background: $color-brightly-violet;

                &-prev, &-prev-prev, &-next, &-next-next  {
                //    width: 6px;
                //    display: inline-block;
                    opacity: 0;
                }

                &-prev, &-next {
                    opacity: 1;
                }

                &-main {
                    opacity: 1;
                    // display: inline-block;
                    // left: 16px !important;
                }
            }
        }
    }
}