.slider {
    background-color: $color-light-violet;

    h2{
        color: $color;
    }
}
.swiper {
    overflow: hidden;
    position: relative;

    &-slide {
        position: relative;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: $color-black-violet;
        max-width: 750px;
        width: 50%;
        height: auto;
        max-height: 576px;

        img {
            object-fit: cover;
        }

        @media screen and (max-width: 1600px)
        {
            max-height: 394px;
        }
        
        @media screen and (max-width: 768px)
        {
            max-width: 100%;
            width: 100%;
        }

        @media screen and (max-width: 480px)
        {
            max-height: 256px;
        }
    }

    &-wrapper {
        height: auto;
    }

    &-pagination {
        position: static;
        transform: none !important;
        margin: 30px auto 0 auto;
        width: 100% !important;
        display: flex;
        justify-content: center;
        &-bullet {
            min-width: 67px;
            width: 67px;
            height: 6px;
            border-radius: 3px;
            background: $color-grey;
            opacity: 1;
            margin: 0 8px !important;

            &:not(.swiper-pagination-bullet-active-main){
                opacity: 0;
            }

            &-active {
                background: $color-brightly-violet;
            }
        }
    }
}