.slider {
    background-color: $color-light-violet;

    h2{
        color: $color;
    }
}
.swiper {
    overflow: hidden;

    &-wrap {
        position: relative;
        width: 100%;
        display: flex;
    }

    &-slide {
        position: relative;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: $color-black-violet;
        max-width: 750px;
        width: 50%;
        height: auto;
        max-height: 576px;

        img {
            object-fit: cover;
        }

        @media screen and (max-width: 1600px)
        {
            max-height: 394px;
        }
    }
}